#container {
    margin-right: auto;
    margin-left: auto;

    width: 1000px;
    height: 700px;
    background-color: #fefefe;
}

body {
    margin: 20px 20px 90px 20px;
    padding: 5px 20px 5px 5px;

}


#header {
    width: 1000px;
    height: 500px;
    background-color: #fcf9f9;
    background-image: url("../images/captain.jpg");
    background-size:cover;
}

#quote-1 {
    font-size:25px;
    font-family: cursive;

    padding: 10px
    margin:50px;
    height:75px;
    color: white;
    text-align:center;
    background-color: #726a6a;

}

#movie {
    font-size: 40px;
    font-weight: 700;
    padding-left: 350px;

}


#main-container{
    height: 700px;
    width: 800px;
    background-color: white;
    position: relative;
    top: 25px;
    left: 10px;
    font-family: 'Dosis' , sans-serif;
    float: left;
}


.event-date-first-child {
    border-top: 1px solid #ccc;
    margin-top: 0;
}

.event-date {
    width: 100px;
    height:7px;
    text-align: center;
    line-height: 26px;
    float: left;
    font-size: 14px;
    border-top: 2px solid #ccc;
    margin: -1px 0 0 0;
    padding: 4px 5px 6px 0;
    clear: left;
    font-weight: bold;
}

.event-desc {
    width: 625px;
    background: #e9e9e4;
    float: left;
    margin: 0;
    padding: 8px 12px 8px 8px;
    border-top: 2px solid rgb(179, 160, 160);
    clear: right;
    font-size: 14px;
    font-family: cursive;
    text-align: center;
}
.event-desc-nth-child {
    border-bottom: 1px solid #ccc;
    text-align: center;
}




.info {
    font-size: 90%;
    font-family: 'Dosis' , sans-serif;
    position: relative;
    margin-bottom: 2em;
    text-align: center;
    background-color: white;
}

.side-info {
    float: left;
    width: 300px;
    height: 200px;
}

.th, .info td {
    vertical-align: top;
    border: 0;
    border-bottom: 1px solid #dddddd;
    padding: 10px;

}

#footer {
    background-color:#ececec;
    padding: 35px;
    
    font-family: 'Pacifico', cursive;
    text-align:center;
    font-size: 24px;
    position: relative;
    top:15px;
    bottom: 50px;
    left: 150px;
}

a {
    text-decoration: none;
    color: rgb(148, 167, 42);
}
a:hover {
    background: #f5f7f6;
    
}

#imp {
   font-size: 20px;
}

img {
  
  text-align: center;
  width: 300px;
  height: 200px;
  padding-left: 400px;
  padding-top: 100px;

}

#footer{
   
        width: 100%;
        display: block;
        float: left;
        clear: both;
        background-color: #665f5f;
        margin-top: 200px;
        margin-right: 2000px;
   }
   

